div{
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 1px;
    transition: width 1s, height 1s, transform 2s; /*height 2s; 2 /5segundos*/
}


div:hover{
    width: 300px;
    transform: rotate(180deg);
    height: 300px;
}

/* .velocidad1{
transition-timing-function:linear ;
}

.velocidad2{
transition-timing-function: ease;
}

.velocidad3{
transition-timing-function: ease-in;
}

.velocidad4{
transition-timing-function:ease-out ;
}

.velocidad5{
transition-timing-function:ease-in-out ;
} */

button{
    width: 150px;
    height: 50px;
    background-color: blueviolet;
    color: black;
    margin: 1px;
    transition: background-color 1s; /*bacwidth 1s, height 1s, transform 2s; height 2s; 2 /5segundos*/
}


button:hover{
    background-color: rgb(157, 137, 175);
    color: blue;
    width: 150px;
    transform: rotate(180deg);
    height: 50px;
}


.boton{
    width: 150px;
    height: 50px;
    background-color:brown;
    color: black;
    margin: 1px;
    transition: background-color 1s; /*bacwidth 1s, height 1s, transform 2s; height 2s; 2 /5segundos*/
}


.boton:hover{
    background-color: rgb(169, 194, 81);
    color: blue;
    width: 150px;
    transform: rotate(180deg);
    height: 50px;
}


input{
    width: 150px;
    border-radius: 5px;
    transition: background-color 0.5s;

}

input:hover{
    background-color: chartreuse;
}
    

input:focus{
    background-color: hotpink;
}